#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  
}

    .imagenInicio {
      width: 50%; 
    }

    @media (max-width: 600px) {
      .imagenInicio {
        width: 100%; 
      }
    }
    
    
    
    
    
    

